// BREAKPOINTS

$extraSmall: 375px;
$small: 500px;
$medium: 800px;
$extraMedium: 1000px;
$large: 1200px;
$extraLarge: 1440px;

// COLORS

// primary
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

// accent
$blue: hsl(248, 32%, 49%);

// neutral
$darkBlue: hsl(249, 10%, 26%);
$grayishBlue: hsl(246, 25%, 77%);

// FONT SIZE

$priFontSize: 1rem;

// FONT FAMILY
$priFont: 'Poppins', sans-serif;
