@use '../abstracts/abstractsIndex' as *;

body {
  background-color: $red;
  background-image: url('/src/images/bg-intro-mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include mediaMin($extraMedium) {
    background-image: url('/src/images/bg-intro-desktop.png');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  padding-bottom: 3em;
  font-family: $priFont;
  @include mediaMin($extraMedium) {
    padding: 1.5em 3.1em;
    flex-direction: row;
    height: 100%;

    & > * {
      margin: 0 1.5em;
      flex: 1;
    }
  }
  @include mediaMin($extraMedium) {
    margin: 5.7em 0;
    padding: 1.5em 0;
    & > * {
      margin: 0 1.5em;
    }
  }

  &__form-wrapper {
    @include mediaMin($extraMedium) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(-0.7em);
    }
  }
}

.intro {
  color: white;
  text-align: center;
  padding: 3.4em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mediaMin($small) {
    max-width: 29rem;
    padding: 3.4em 0.9em;
  }

  @include mediaMin($extraMedium) {
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 34rem;
    transform: translateY(-1.25em);
  }

  &__heading {
    font-size: 1.71rem;
    padding: 0.5em;
    font-weight: 700;
    line-height: 1.4;
    @include mediaMin($extraMedium) {
      text-align: left;
      padding: 0.5em 0;
      font-size: 3.1rem;
      line-height: 1.13;
    }
  }
  &__description {
    line-height: 1.5;
    padding: 0.5em 0;
    color: #fff5f3;
    @include mediaMin($extraMedium) {
      padding: 0.1em 0;
    }
  }
}
.pricing {
  background: $blue;
  margin: 0.3em 0;
  padding: 1.1em 4em;
  border-radius: 0.5em;
  position: relative;
  box-shadow: 0 0.55em 0px 0px #da6468;
  max-width: 27.9rem;

  @include mediaMin($extraMedium) {
    transform: translateY(0em);
    width: 33.8125rem;
  }
  @include mediaMin($extraLarge) {
    max-width: 43rem;
  }

  &__description {
    transform: translateY(0.1em);
    text-align: center;
    font-size: 0.97rem;
    line-height: 1.7;
    color: white;
    font-weight: 400;
    & span {
      font-weight: 700;
    }
  }
}

.form {
  margin: 1.2em 0;
  background: white;
  border-radius: 0.7em;
  box-shadow: 0 0.55em 0px 0px #da6468;
  max-width: 27.9rem;
  padding-top: 1px;
  @include mediaMin($extraMedium) {
    width: 33.8125rem;
  }
  @include mediaMin($extraLarge) {
    max-width: 43rem;
    padding-top: 0.5em;
  }

  &__input-wrapper {
    margin: 1.6em 0;
    @include mediaMin($medium) {
      transform: translateY(-3px);
    }
  }

  &__item {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &--error {
      margin-top: 0.6em;
      align-self: flex-end;
      color: red;
      font-size: 0.8rem;
      font-style: italic;
    }
    &--error-msg {
      position: relative;
      &::after {
        content: url('/src/images/icon-error.svg');
        position: absolute;
        top: -4.4em;
        right: 1.3em;
      }
      @include mediaMin($extraLarge) {
        transform: translateX(-2.5em);
      }
    }

    &--success {
      margin-top: 0.6em;
      align-self: flex-end;
      color: $green;
      font-size: 0.8rem;
      font-style: italic;
    }

    &--success-msg {
      position: relative;
      &::after {
        content: url('/src/images/icon-valid.png');
        position: absolute;
        top: -5.35em;
        right: 0.3em;
        transform: scale(0.65);
      }
      @include mediaMin($extraLarge) {
        transform: translateX(-2.5em);
      }
    }
  }

  &__input {
    margin: 0 0.6em;
    width: 100%;
    padding: 0.9em;
    border-radius: 0.4em;
    border: solid 1px #dedede;
    font-size: 1rem;
    font-family: $priFont;
    font-weight: 600;
    color: $darkBlue;
    // &:invalid {
    //   border-color: red;
    // }
    &--invalid {
      border: solid 0.13em red;
      color: red;
    }
    &--valid {
      border: solid 0.13em $green;
      color: $darkBlue;
      position: relative;
    }

    @include mediaMin($extraLarge) {
      width: 88.7%;
      padding: 0.9em 2.1em;
    }
    &::placeholder {
      font-family: $priFont;
      color: #7b7b7d;
      font-weight: 600;
      font-size: 0.9rem;
    }
    &--btn {
      cursor: pointer;
      margin-top: 0.1em;
      background: $green;
      text-transform: uppercase;
      font-family: $priFont;
      font-weight: 500;
      font-size: $priFontSize;
      color: #e6fff9;
      padding: 0.9em;
      border: none;
      box-shadow: 0px 0.2em 0px 0px hsl(155, 41%, 48%);
      @include mediaMin($extraLarge) {
        margin: 0;
      }
    }
  }

  &__footer {
    transform: translateY(-0.5em);
    padding: 0em 3em;
    font-size: 0.7rem;
    padding-bottom: 1.5em;
    @include mediaMin($extraLarge) {
      padding-bottom: 1.9em;
      transform: translateY(-2em);
    }
  }

  &__terms-services {
    text-align: center;
    color: #a9a7b4;
    & span {
      color: $red;
      font-weight: 700;
    }
  }
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}
